.heading1purple {
  background-color:#1f2329;
  background-image: linear-gradient(#AE2DD1, #6A15A1);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  Courier New;
  font-size:30px;
  text-align:center;
  text-shadow:0 0 5px #AE2DD170;
}
.heading1white {
  background-color:#1f2329;
  color: white;
  Courier New;
  font-size:30px;
  text-align:center;
  line-height:0.0;
  text-shadow:0 0 5px #000;
}
.heading2purple {
  background-color:#1f2329;
  color: white;
  Courier New;
  font-size:10px;
  text-align:center;
  text-shadow:0 0 3px #AE2DD170;
}
.heading2white {
  background-color:#1f2329;
  color: white;
  Courier New;
  font-size:10px;
  text-align:center;
  text-shadow:0 0 5px #000;
}
.heading3 {
  background-color:#1f2329;
  color: white;
  Courier New;
  font-size:8px;
  text-align:center;
  text-shadow:0 0 5px #000000;
}
.heading3right {
  background-color:#1f2329;
  color: white;
  Courier New;
  font-size:8px;
  text-align:right;
  text-shadow:0 0 5px #000000;
}
.heading4 {
  background-color:#1f2329;
  color: white;
  Courier New;
  font-size:7px;
  text-align:center;
  text-shadow:0 0 4px #000000;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.button1 {
  background-image: linear-gradient(#AE2DD1, #6A15A1);
  -webkit-background-clip: box;
  -moz-background-clip: box;
  -webkit-box-fill-color: transparent;
  -moz-box-fill-color: transparent;
  color: white;
  border:none;
  padding: 13px 28px;
  text-align: center;
  text-decoration: bold;
  display: block;
  font-size: 14px;
  Courier New;
  text-shadow:0 0 3px #000;
  margin-left: auto;
  margin-right: auto;
  box-shadow:0px 0px 10px #AE2DD180;
  border-radius:20px;
}
a:link {
  Courier New;
  font-size:14px;
  text-align:center;
  text-shadow:0 0 3px #AE2DD170;
  color: #AE2DD1;
}
a:visited {
  Courier New;
  font-size:14px;
  text-align:center;
  text-shadow:0 0 3px #AE2DD170;
  text-decoration: bold;
  color: #AE2DD1;
}
a:hover {
  Courier New;
  font-size:14px;
  text-align:center;
  text-shadow:0 0 3px #AE2DD170;
  text-decoration: bold;
  color: #AE2DD1;
}
a:active {
  color: #AE2DD1;
  Courier New;
  font-size:14px;
  text-align:center;
  text-shadow:0 0 3px #AE2DD170;
  text-decoration: bold;
}
body {
  background-color: #1f2329;
}
img {
  border: 5px solid #AE2DD1;
  border-radius: 40px;
  box-shadow: 1px 1px 20px #AE2DD1;
}
iframe {
  border: 5px solid #AE2DD1;
  border-radius: 40px;
  box-shadow: 1px 1px 20px #AE2DD1;
  background-image: linear-gradient(#AE2DD1, #6A15A1);
  -webkit-background-clip: box;
  -moz-background-clip: box;
  -webkit-box-fill-color: transparent;
  -moz-box-fill-color: transparent;
}
