/* || global */
:root {
    --light: #F2F1E6;
    --splash1: #FF8A00;
    --splash2: #E52E71;
    --dark: #131319;
}
html {
    margin: 0;
    height: 100%;
    background: radial-gradient(var(--dark), #000000);
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Gabarito;
    color: var(--light);
    overflow-x: hidden;
    overflow-y: hidden;
}
#fade {
    position: absolute;
    top: 0;
    left: 0;
    width: 150vw;
    height: 150vh;
    background: black;
    opacity: 1;
    z-index: 9999;
    transition: opacity 0.5s ease-in;
    pointer-events: none;
}
::-webkit-scrollbar {
    border-radius: 50%;
    width: 6px;
}
::-webkit-scrollbar-thumb {
    width: 4px;
    border-radius: 100px;
    background-image: linear-gradient(0deg, var(--splash1), var(--splash2));
}
::-webkit-scrollbar-button, ::-webkit-scrollbar-corner {
    border-radius: 100%;
    background-image: rgba(0, 0, 0, 30%);
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {
    background: rgba(0, 0, 0, 10%);
}
img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
    cursor: text;
}
::selection {
    color: var(--splash1);
    background: transparent;
    backdrop-filter: blur(20px);
}

/* || element styles */
strong, a:any-link {
    background: linear-gradient(45deg, var(--splash1), var(--splash2), var(--splash1), var(--splash2), var(--splash1));
    background-size: 100% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 32px var(--splash1), 0 0 32px var(--splash2);
    color: transparent;
    -webkit-text-fill-color: transparent;
}
@keyframes textShine {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}
canvas {
    display: block;
}
#menu-box {
    width: 50vw;
}
.wallpaper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}
#watermark {
    display: block;
    order: 2;
    width: 100vw;
    padding: 0;
    margin: 0;
    border: 0;
    text-align: center;
}

/* || boring sizing */
.header, .title {
    display: block;
}
#themedisplay, .title{
    display: inline-block;
    margin-left: 0.25cm;
    margin-right: 0.25cm;
    vertical-align: middle;
}
.content-box {
    object-fit: contain;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 75vh;
    overflow: auto;
    scroll-snap-stop: normal;
    transform-origin: center center;
}
.container {
    overflow: visible;
    order: 1;
}
.label-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    vertical-align: middle;
}
.social-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    text-wrap: nowrap;
    vertical-align: middle;
}
.tilt-container {
    perspective: 75vw;
}
.tilt-element {
    transform-style: preserve-3d;
    transform: rotateY(0deg) rotateX(0deg);
}
.tab-content {
    display: flex;
    flex-direction: column;
    transition: all ease 0.5s;
    overflow: visible;
    opacity: 0;
    height: 0;
}
.tab.active > .tab-content {
    transition: all ease 0.5s;
    opacity: 1;
    height: auto;
}

/* || appliable styles */
.glass {
    backdrop-filter:
        blur(15px) url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1"><filter id="glasswarp"><feTurbulence type="fractalNoise" baseFrequency="0.05" numOctaves="2" result="noise"/><feDisplacementMap in="SourceGraphic" in2="noise" scale="25" xChannelSelector="R" yChannelSelector="G"/></filter></svg>#glasswarp');
    box-shadow: 
        0 20px 30px -10px black,
        inset 0 10px 10px -5px rgba(255, 255, 255, 0.025),
        inset 0 -10px 10px -10px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 20%);
}
.box {
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    margin: 1.5vw;
    border-radius: 1cm;
}
.box-small {
    padding: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    margin: 0.25vw;
    border-radius: 1cm;
}
.text-shadow {
    position: relative;
    display: inline;
}
.text-shadow::before {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    filter: blur(0.5em);
    z-index: -1;
}
.clickable {
    transition: all 0.5s cubic-bezier(.8,0,.5,1);
    transform-box: border-box;
    transform-origin: center;
}
.clickable:hover {
    transform: scale(1.15) rotate(5deg);
    transform-box: border-box;
    transform-origin: center;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(.8,0,.5,1);
}
.om-nom {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.5ch;
}
.om-nom strong {
    display: inline-block;
    transition: all 0.3s cubic-bezier(1, 0, .75, 1);
    opacity: 1;
}
.om-nom:hover strong {
    transition: all 0.3s cubic-bezier(0, 0.75, 0.25, 1);
    opacity: 0;
}
.om-nom span {
    display: inline-block;
    transform: translateX(0);
    transition: all 0.3s cubic-bezier(.125, .5, .5, 1);
}
.om-nom:hover span {
    transition: all 0.3s cubic-bezier(.125, .5, .5, 1);
    transform: translateX(-1.5ch);
}
.blur {
    filter: blur(10px);
}
.inline {
    display: inline-block;
}
#canvas-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    filter: blur(32px) url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="turbulence"><feTurbulence type="turbulence" baseFrequency="0.01" numOctaves="2" result="turbulence" seed="0" /><feDisplacementMap in="SourceGraphic" in2="turbulence" scale="100" xChannelSelector="R" yChannelSelector="G" /></filter></svg>#turbulence');
}
.blurrington {
    filter: blur(2px);
}